Please sign in.

<form method="post" action="/sessions">
  Email: <input type="text" name="email">
  Password: <input type="password" name="password">
  <input type="submit" value="Sign in">
</form>

<form method="get" action="/users/forgot_password">
  <input type="submit" value="Forgot password?">
</form>