Please enter new password

<form action="/users/reset_password" method="post">
  Password: <input name="password" type="password">
  Password Confirmation: <input name="password_confirmation" type="password">
  <input type="text" name="password_token" value="<%= @token %>">
  <input type="submit" value="Reset Password">
</form>