<!DOCTYPE html>

<html>
  <head>
    <title> Bookmark Manager </title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/application.css">

  </head>
  <body>
    <header>
      <nav>
          <a href="/"><h1> Bookmark Manager </h1></a>
        <menuitem>
          <a href="/links/new"><input id="addlink" type="Submit" value="Add Link"></a>
          <a href="/sessions/new"><input id="signin" type="Submit" value="Sign In"></a>
          <a href="/users/new"><input id="signup" type="Submit" value="Sign Up"></a>
        </menuitem>
      </nav>
    </header>
  
    <br>

    <%= partial :welcome_message %>

    <%= partial :flash %>

    <%= yield %>

    <footer>
      <div id="makersacademy-logo">
        <a href="http://www.makersacademy.com/">
          <img src="http://www.makersacademy.com/images/logo.png">
        </a>
      </div>
      <div id="technologies">
        <p>
          I built this page at
          <a href="http://www.makersacademy.com">Makers Academy,
          a highly selective 12 week coding course in London</a>.
        </p>
        <p>
          This website is built using Ruby, Sinatra,
          RSpec, Capybara, HTML and CSS.
        </p>
      </div>
    </footer>
  </body>
</html>
